* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
body{
	background-color: #fcfcf7;
	font-size: 12px;
}
.clearfix{
	overflow: auto;
}
.fix{
	content: '';
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.content {
	margin: 0 auto;
	width: 1170px;

}
.conHead {
	height: 140px;
	margin: 40px 0 20px;
}

.card {
	background-color: #fff;
	width: 250px;
	height: 100px;
	padding: 20px 0 20px 20px;
	margin-right: 30px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

}
.cardImg {
	background-image: url(腾讯.png);
	width: 100px;
	height: 100px;
	border-radius: 50%; 
	margin-right: 40px;
}
.cardName {
	line-height: 60px;
	font-size: 22px;

}
.cardAdd {
	color: #666;
	font-size: 14px;
	line-height: 40px;
} 
.industry {
	margin-left:20px ;
}
.comparison {
	margin: 50px auto;
	width: 160px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	background-color: #ffd70d;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	
	
}
.work {

	margin-top: 15px;
}

.workBtn {
	width: 100px;
	height: 24px;
	line-height: 24px;
	border-radius: 4px;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.workBtn:first-child {
	background-color: #ea7c57;
}
.workBtn:nth-child(2) {
	background-color: #9ad482;
	margin: 20px 0;
}
.workBtn:last-child {
	background-color: #ffd70d;
}
.conMain {
	text-align: center;
	margin-top: 20px;
}
.conRank{
	width: 100%;
	height: 46px;
	border-radius: 4px;
	padding: 10px 0;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
} 
.rankItem{
	width: 130px;
	box-sizing: border-box;
	border-right: 1px solid #dcdcdc;
	text-align: center;
	overflow: hidden;
}
.rankItem h3{
	color: #262626;
	line-height: 18px;
	font-weight: normal;
	font-size: 12px;
}

.rankItem span{
	display: inline-block;
	margin-top: 10px;
	color: #ffd70d;
	font-weight: normal;
	font-size: 14px;	
}
.rankItem:last-child{
	border-right: 0px solid #dcdcdc;
	
}
.picItem{
	margin: 20px 0;
}
.picBtn{
	width: 92px;
	height: 24px;
	line-height: 20px;
	box-sizing: border-box;
	border: 1px #999 solid;
	border-radius: 4px;
	color: #999;
	margin-right: 10px;
	font-size: 12px;
	background-color: #fff;
	cursor: pointer;
}
.ac {
	border: 1px #ffd70d solid;
	
	background-color: #ffd70d;
	color: #fff;
}
.picBtn:hover {
	color: #bf7845;
	border: 1px #bf7845 solid;
}

svg{
	margin-top: 20px;
	border-radius: 4px;
	
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	
}
.time{
	margin: 20px 0;
	border-radius: 4px;
	
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	height: 66px;
	
}
.picInt{
	/*height: 200px;*/
	padding: 20px;
	border-radius: 4px;
	
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	text-align: left;
	
}
.h2Tit {
	color: #ffd70d;
	font-size: 16px;
	line-height: 23px;
}
.int {
	line-height: 35px;
	color: #999;
	font-size: 12px;
	margin-bottom: 20px;
}
.chartTxt{
	color: #333;
	font-size: 12px;
	line-height: 18px;
}
.conFoot{
	/*margin-bottom: 60px;*/
	/*width: 1170px;*/
}
.footRank{
	margin-top: 20px;
	width: 530px;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 60px;
}
 .wb{
 	width: 530px;
 	height: 112px;
 	box-sizing: border-box;
 	border-top: 1px solid #dcdcdc;
 }
.wbL{
	position: relative;
}
.list{
	display: inline-block;
	width: 22px;
	height: 22px;
	background-image: url(icon.png);
	text-align: center;
	position: absolute;
	top: 20px;
}
/*123名背景*/
.footRank li:first-child .list {
	background-position: 0px 22px;
	color: #fff;
}
.footRank li:nth-child(2) .list {
	background-position: 0px 44px;
	color: #fff;
}
.footRank li:nth-child(3) .list {
	background-position: 0px 66px;
	color: #fff;
}

/*123名背景*/
.wbImg{
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 42px;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-image: url(wbwx.png);
	background-color: tan;
}
/*抓取平台icon*/
.footRank li:nth-child(2) .wbImg {
	background-position: -48px 0px;
}
.footRank li:nth-child(3) .wbImg {
	background-position: -96px 0px;
}
.footRank li:nth-child(4) .wbImg {
	background-position: -144px 0px;
}

/*抓取平台icon*/
.wbR {
	
}
.wbT{
	height: 56px;
	width: 420px;
	box-sizing: border-box;
	border-bottom: 1px #f2f2f2 solid;
	position: relative;
	margin-top: 13px;
}
.pageTit{
	text-align: left;
	color: #333;
	font-size: 14px;
	text-decoration: none;
}
.writer{
	position: absolute;
	right: 0;
	top: 0;
	
	color: #666;
	font-size: 12px;
}
.pageDate{
	position: absolute;
	right: 0;
	bottom: 13px;
	line-height: 12px;
	color: #999;
}
.wbB{
	position: relative;
	overflow: hidden;
}
.wbVue{
	
	height: 42px;
	line-height: 42px;
	font-size: 12px;
	color: #999;
	width: 160px;
	
}
.vIcon{
	display: inline-block;
	
	width: 22px;
	height: 22px;
	position: absolute;
	top: 10px;
	background-image: url(icon.png);
	background-position: -22px -0px;
}
.vNum{
	margin-left: 32px;
}
.wbVueLast{
	float: right;
	height: 42px;
	line-height: 42px;
	font-size: 12px;
	color: #999;
}

/*阅读点赞转发图标*/
.wbB li:nth-child(2) .vIcon {
	background-position: -22px -22px;
}
.wbB li:nth-child(3) .vIcon{
	background-position: -22px -44px;
}
/*阅读点赞转发图标*/


/*KOL微博*/
.wbImg2{
	background-image: url(kolimg.png);
	
	
}
.pageTit2{
	position: absolute;
	left: 0;
	bottom: 13px;
	color: #666;
	font-size: 12px;
	text-decoration: none;
}

.writer2{
	position: absolute;
	left: 0;
	top: 0;
	color: #333;
	font-size: 14px;
}
/*KOL微博*/


/*热点推送*/
.hotPush{
	width: 100%;
	/*margin-top: 40px;*/
	position: relative;
	/*bottom: 0;*/
	/*left: 0;*/
}
.hotPush a{
	text-decoration: none;
	margin: 10px;
	color: #666;
}
.pushBrand{
	font-size: 12px;

}
.pushWords{
	position: absolute;
	left: 50%;
	top: 0;
}
.pushP{
	color: #333333;
	font-size: 14px;
}
.report{
	margin: 20px 0;
	
}
/*底部开始*/

/*底部结束*/

/*浮动开始*/
.floatLogin{
	display: none;
	width: 100%;
	height: 35rem;
	background-color: #FFD70D;
	opacity: 0.9;
	/*position: absolute;*/
	position: fixed;
	left: 0;
	bottom: -460px;
	bottom: 0;
	text-align: center;
	/*border-radius: 14px;*/
	transition: all 0.3s;
}

.flTxt{
	height: 100px;
	line-height: 100px;
	width: 100%;
	background-color: #FFD70D;

	text-align: center;
	
}
.flSpan{
	color: #fff;
	font-size: 20px;
	transform: translate(10%);
	margin-right:210px ;
}
.showBtn{
	display: inline-block;
	width: 170px;
	height: 50px;
	border-radius: 4px;
	font-size: 20px;
	line-height: 50px;
	margin-left: 20px;
	background-color: #fff;
	border: 1px solid #fff;
	box-sizing: content-box;
	color: #FFD70D;
	text-decoration: none;
	
	/*transform: translate(100%);*/
}
.showBtn:hover{
	color: #fff;
	background-color: #FFD70D;
}
.close{
	 background: #FFD70D;
    color: #fff;
    /* make a round button */
    /*border-radius: 12px;*/
    /* center text */
    line-height: 20px;
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 18px;
    padding: 1px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.close:before {
    content: "\2716";
}
.flTop{
	display: none;
}
.flTit{
	position: absolute;
	top: 60px;
	font-size: 24px;
	color: #fff;
	line-height: 24px;
	transform: translate(-50%);
}
.loginSwap{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	top: 88px;
}
.flBtn{
	list-style: none;
	float: left;
	left: 50%;
	/*margin-left: 50%;*/
	padding-top: 20px;
	color: #fff;
	font-size: 16px;
	border-bottom: 2px solid #FFD70D;
	display: inline;
	margin: 0 10px;
	line-height: 30px;
	cursor: pointer;
}
.flBtn:hover{
	border-bottom: 2px solid #FFFFFF;
}
.flBot{
position: absolute;
left: 50%;
	top: 160px;
	transform: translate(-50%);
	/*width: 700px;*/
}
#loginD{
		display: block;
		width: 300px;
	/*transform: translate(30%);*/
}
.posi{

	position: relative;
	float: left;
	margin-bottom: 20px;

}
.loginInput{
		box-sizing: border-box;
	width: 300px;
	height: 40px;
	border: 0px;
	border-radius: 4px;
	background-color: #FFFFFF;
	text-indent: 54px;
}
.inputIcon{
	
	width: 22px;
	height: 22px;
	margin: 9px;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(floatIcon.png);
	background-position: 0px  0px;
}
.inputIcon:after{
	content: '';
	display: block;
	width: 1px;
	height: 30px;
	background: #ccc;
	position: absolute;
	left: 30px;
	top: -4px;
}
.posi:nth-child(1) .inputIcon{
	background-position: 0px 0 ;
}
.posi:nth-child(2) .inputIcon{
	background-position: -22px 0 ;
}
.loginBtn{
	display: block;
	float: left;
	margin: 20px auto;
	width: 300px;
	height: 40px;
	background-color: #fff;
	border-radius: 4px;
	border:1px solid #fff;
	box-sizing: border-box;
	color: #FFD70D;
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	text-decoration: none;
}
.loginBtn:hover{
	background-color: #FFD70D;
	color: #fff;
}

#regiD{
	width: 700px;
	display: none;
}
/*#regiD .posi:nth-child(odd){
	margin-right: 100px;
}*/
.regiL{
	width: 300px;
	float: left;
	margin-right: 100px;
}
.regiL:nth-child(2){
	margin-right: 0px;
}
.regiBott{
	margin-left: 200px;
}
/*浮动结束*/

