*{
	margin: 0;
	padding: 0;
}
ul,a{
	list-style: none;
	text-decoration: none;
	
}
input{
	outline: none;
}

.loginbox {
	/*width: 300px;*/
	/*height: 530px;*/
	/*position: absolute;
	margin:auto;
 	left:0;
 	right:0;
 	top:0;
 	bottom:0;*/
 	position: absolute;
 	left: 50%;
 	top: 50%;
 	transform: translate(-50%,-50%);
}
.loginbox .logo {
	width: 214px;
	height: 70px;
	margin: 10px auto 60px;
	background-image: url(../img/登陆注册页logo_03.png);
}
.loginbox .loginform ul li{
	
	position: relative;
}
.loginbox .loginform input {
	box-sizing: border-box;
	width: 300px;
	height: 40px;
	margin: 0 auto 10px;
	padding: 5px;
	border: 1px solid #cccbc6;
	border-radius: 5px;
	line-height: 22px;
	font-size: 14px;
	color: #333;
	text-indent:51px;
	
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #CCC;opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #CCC;opacity:1;
}

input:-ms-input-placeholder{
	color: #CCC;opacity:1;
}

input::-webkit-input-placeholder{
    color: #CCC;opacity:1;
}

.loginbox .loginform ul i{
	width: 22px;
	height: 22px;
	position: absolute;
	left: 15px;
	
	top: 10px;
	overflow: hidden;
	background-image: url(../注册.png);
	background-repeat: no-repeat;
}
.loginbox .loginform ul li::after{
	content: '';
	height: 22px;
	width: 1px;
	background-color: #cccbc6;
	position: absolute;
	left: 50px;
	top: 10px;
	
}
.loginbox .loginform ul li:last-child i {
	background-position: -44px 0;
}
.loginbox .loginform input:focus+i {
	background-position-x: -22px;
}

.loginbox .loginform  li:last-child input:focus+i {
	background-position-x: -66px;
}
.loginbox .loginform  span {
	display: block;
	font-size: 12px;
	line-height: 12px;
	position: absolute;
	right: 0;
	color: #666;
	
}
.loginbox .loginform span a{
	
	color: #ffd70d;
	
}
.loginbox .loginform  input:last-child {
	margin-top: 31px;
	border: 0px solid red;
	text-indent:0;
	background-color: #ffd70d;
	font-size: 16px;
	color: #fff;
}
.loginbox .otherlogin {
	position: relative;
	margin-top: 66px;
}
.loginbox .otherlogin h3{
	color: #666;
	font-size: 14px;
	line-height: 14px;
	position: relative;
	
}
.loginbox .otherlogin h3:before {
	
	content: '';
	width: 100px;
	height: 1px;
	background-color: #cccccc;
	position: absolute;
	left: 0;
	top: 50%;
}
.loginbox .otherlogin h3:after {
	
	content: '';
	width: 100px;
	height: 1px;
	background-color: #cccccc;
	position: absolute;
	right: 0;
	top: 50%;
}
.loginbox .otherlogin .iconlogin {
	position: absolute;
	width: 64px;
	height: 85px;
	left: 50px;
	top: 34px;
	overflow: hidden;
}
.loginbox .otherlogin .iconlogin:last-child {
	left: 188px;

}
.loginbox .otherlogin .iconlogin a {
	display: block;
	width: 64px;
	height: 64px;	
	background-image: url(../注册.png);
	background-repeat: no-repeat;
	background-position: 0 -30px;
}


.loginbox .otherlogin .iconlogin:last-child a {
	
	background-position: -64px -30px;
}
.loginbox .otherlogin .iconlogin span{
	color: #999999;
	bottom: 0;
	font-size: 12px;
}
/*  注册界面       	*/
.loginbox .loginform .read {
	
	position: absolute;
	left: -100px;
}
.loginbox .loginform  span input {
	box-sizing: border-box;
	width: 12px;
	height: 12px;
	border: 1px solid #ccc;
	border-radius: 1px;
	position: absolute;
	left: 100px;
	top: 0;
}
.loginbox .loginform .registerform li:nth-child(1) i  {
	background-position: -0px 0;
}
.loginbox .loginform .registerform li:nth-child(1) input:focus+i{
	background-position: -0px -22px;
}
.loginbox .loginform .registerform li:nth-child(2) i  {
	background-position: -22px 0;
}
.loginbox .loginform li:nth-child(2) input:focus+i{
	background-position: -22px -22px;
}
.loginbox .loginform .registerform li:nth-child(3) i  {
	background-position: -44px 0;
}
.loginbox .loginform li:nth-child(3) input:focus+i{
	background-position: -44px -22px;
}
.loginbox .loginform .registerform li:nth-child(4) i  {
	background-position: -66px 0;
}
.loginbox .loginform li:nth-child(4) input:focus+i{
	background-position: -66px -22px;
}
.loginbox .loginform .registerform li:nth-child(5) i  {
	background-position: -88px 0;
}
.loginbox .loginform li:nth-child(5) input:focus+i{
	background-position: -88px -22px;
}
.loginbox .loginform .registerform li:nth-child(6) i  {
	background-position: -110px 0;
}
.loginbox .loginform li:nth-child(6) input:focus+i{
	background-position: -110px -22px;
}
.loginbox .loginform .registerform li:nth-child(7) i  {
	background-position: -132px 0;
}
.loginbox .loginform li:nth-child(7) input:focus+i{
	background-position: -132px -22px;
}
.loginbox .loginform .registerform li:nth-child(8) i  {
	background-position: -154px 0;
}
.loginbox .loginform li:nth-child(8) input:focus+i{
	background-position: -154px -22px;
}
.loginbox .loginform .registerform li:nth-child(9) i  {
	background-position: -176px 0;
}
.loginbox .loginform li:nth-child(9) input:focus+i{
	background-position: -176px -22px;
}
.loginbox .loginform .registerform li:nth-child(10) i  {
	background-position: -198px 0;
}
.loginbox .loginform li:nth-child(10) input:focus+i{
	background-position: -198px -22px;
}



#errTxt{
	color:#ff320d  ;
	position: absolute;
	right: 0;
}
#errTxt2{
	color:#ff320d  ;
	position: absolute;
	left: -192px;
}
#errTxt3{
	color:#ff320d  ;
	position: absolute;
	left:-223px;
}
.fixed{
	font-size: 12px;
	color: #666;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
